/* Processor-specific styles */

.App {
    padding: 1em;
}

.versesNumber {
    font-weight: bold;
    font-size: smaller;
    padding-right: 0.5em;
}

/* BlockTags (USFM paras)*/
.usfm_b {
    height: 1em; /* Empty para */
}
.usfm_d {
    font-style: italic;
}
.usfm_m {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-indent: 0;
}
.usfm_mr {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: larger;
    font-weight: bold;
}
.usfm_ms {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: larger;
    font-weight: bold;
}
.usfm_ms2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: larger;
    font-weight: bold;
}
.usfm_p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-indent: 0.5em;
}
.usfm_pc {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}
.usfm_pi {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    text-indent: 0.5em;
}
.usfm_pi2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 3em;
    text-indent: 0.5em;
}
.usfm_pi3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 4em;
    text-indent: 0.5em;
}
.usfm_q {
    margin-left: 2em;
}
.usfm_q2 {
    margin-left: 3em;
}
.usfm_q3 {
    margin-left: 4em;
}
.usfm_qa {
    font-style: italic;
    text-align: center;
}
.usfm_r {
    font-weight: normal;
    font-style: italic;
    margin-top: 0;
    font-size: smaller
}
.usfm_s {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: larger;
    font-weight: bold;
}

/* Spans (USFM character-level markup) */

.usfm_wj {
    color: red;
}
.usfm_it {
    font-style: italic;
}
.usfm_qs {
    font-style: italic;
}
.usfm_bd {
    font-weight: bold;
}
.usfm_sc {
    font-variant: small-caps;
}
.usfm_sls {
    font-style: italic;
}
